


.info_c {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card_info_b {
    width: 100%;
    max-width: 100vh;
    border-radius: 1em; 
    margin-top: 2em;
}


.card__header_d { 
    width: 100%;
    aspect-ratio: 3;
    position: relative;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.card__img_e {
    position: absolute;
    width: 50%;
    top: -4em;
    left: 50%;
    transform: translateX(-50%);
}

.card__order_f {
    margin-top: 2em;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    border-radius: 5px;
}

.card__name_g {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
    position: relative;
}

.card__name_g::before, .card__name_g::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 30%;
    height: 1px;
    background: #000000;
}

.card__name_g::before {
    left: 0.1%;
}

.card__name_g::after {
    right: 0.1%;
}


.Card__list-container_h {
    margin: 10px 0;
}

.card__list_j {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.card__k {
    text-align: center;
}

.card__label_l {
    display: block;
    font-weight: bold;
}

.card__value_m {
    margin-left: 1em;
    font-size: 1em;
    margin-top: 5px;
}



.movements {
    width: 100%;
    max-width: 600px; /* Ajusta según tus necesidades */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del contenedor de movimientos */
    padding: 20px;
    margin-top: 20px;
    border-radius: 1em;
  }
  


/* ---Name---- */

.color-normal {
    color: rgb(90, 90, 90);
    text-shadow: 0.01rem 0.01rem 0.1rem rgb(0, 0, 0);
}

.color-fighting {
    color: rgb(144, 1, 1);
    text-shadow: 0.01rem 0.01rem 0.1rem rgb(0, 0, 0);
}

.color-flying {
    color: rgb(0, 229, 255);
    text-shadow: 0.01rem 0.01rem 0.1rem rgb(0, 0, 0);
}

.color-poison {
    color: rgb(109, 0, 123);
    text-shadow: 0.01rem 0.01rem 0.1rem rgb(0, 0, 0);
}

.color-ground {
    color: rgb(99, 63, 63);
    text-shadow: 0.01rem 0.01rem 0.1rem rgb(0, 0, 0);
}

.color-rock {
    color: rgb(75, 67, 67);
    text-shadow: 0.01rem 0.01rem 0.1rem rgb(0, 0, 0);
}

.color-bug {
    color: rgb(56, 84, 60);
    text-shadow: 0.01rem 0.01rem 0.1rem rgb(0, 0, 0);
}

.color-ghost {
    color: rgb(221, 0, 255);
    text-shadow: 0.01rem 0.01rem 0.1rem rgb(0, 0, 0);
}

.color-steel {
    color: rgb(226, 198, 83);
    text-shadow: 0.01rem 0.01rem 0.1rem rgb(0, 0, 0);
}

.color-fire {
    color: rgb(248, 95, 0);
    text-shadow: 0.01rem 0.01rem 0.1rem rgb(0, 0, 0);
}


.color-water {
    color: rgb(0, 123, 255);
    text-shadow: 0.01rem 0.01rem 0.1rem rgb(0, 0, 0);
}

.color-grass {
    color: rgb(0, 255, 4);
    text-shadow: 0.01rem 0.01rem 0.1rem rgb(0, 0, 0);
}

.color-electric {
    color: rgb(255, 230, 0);
    text-shadow: 0.01rem 0.01rem 0.1rem rgb(0, 0, 0);
}

.color-psychic {
    color: rgb(64, 20, 129);
    text-shadow: 0.01rem 0.01rem 0.1rem rgb(0, 0, 0);
}


.color-ice {
    color: rgb(183, 253, 255);
    text-shadow: 0.01rem 0.01rem 0.1rem rgb(0, 0, 0);
}

.color-dragon {
    color: rgb(153, 60, 97);
    text-shadow: 0.01rem 0.01rem 0.1rem rgb(0, 0, 0);
}

.color-dark {
    color: rgb(48, 25, 46);
    text-shadow: 0.01rem 0.01rem 0.1rem rgb(0, 0, 0);
}


/* ---Border---- */

.br-normal {
    border: 0.5em solid rgba(178, 178, 178, 0.154);
    box-shadow: 0.1em 0.1em 0.5em  rgb(117, 116, 116);
}

.br-fighting {
    border: 0.5em solid rgb(176, 37, 37);
    box-shadow: 0.1em 0.1em 0.5em  rgb(127, 9, 9);
}

.br-flying {
    border: 0.5em solid rgba(120, 216, 238, 0.745);
    box-shadow: 0.1em 0.1em 0.5em  rgb(115, 229, 242);
}

.br-poison {
    border: 0.5em solid rgb(137, 17, 222);
    box-shadow: 0.1em 0.1em 0.5em  rgb(151, 8, 218);
}

.br-ground {
    border: 0.5em solid rgb(76, 72, 51);
    box-shadow: 0.1em 0.1em 0.5em  rgb(72, 47, 47);
}

.br-rock {
    border: 0.5em solid rgb(135, 135, 135);
    box-shadow: 0.1em 0.1em 0.5em  rgb(94, 94, 94);
}

.br-bug {
    border: 0.5em solid rgb(63, 194, 24);
    box-shadow: 0.1em 0.1em 0.5em  rgb(47, 252, 6);
}

.br-ghost {
    border: 0.5em solid rgb(238, 0, 250);
    box-shadow: 0.1em 0.1em 0.5em  rgb(251, 0, 255);
}

.br-steel {
    border: 0.5em solid rgb(140, 126, 97);
    box-shadow: 0.1em 0.1em 0.5em  rgb(113, 102, 59);
}

.br-fire {
    border: 0.5em solid rgb(217, 105, 0);
    box-shadow: 0.1em 0.1em 0.5em  rgb(255, 123, 0);
}


.br-water {
    border: 0.5em solid rgb(3, 23, 95);
    box-shadow: 0.1em 0.1em 0.5em  rgb(0, 51, 255);
}

.br-grass {
    border: 0.5em solid rgb(3, 72, 24);
    box-shadow: 0.1em 0.1em 0.5em  rgb(4, 184, 28);
}

.br-electric {
    border: 0.5em solid rgb(195, 190, 29);
    box-shadow: 0.1em 0.1em 0.5em  rgb(255, 255, 0);
}

.br-psychic {
    border: 0.5em solid rgb(60, 23, 83);
    box-shadow: 0.1em 0.1em 0.5em  rgb(157, 0, 255);
}


.br-ice {
    border: 0.5em solid rgb(23, 137, 145);
    box-shadow: 0.1em 0.1em 0.5em  rgb(0, 200, 255);
}

.br-dragon {
    border: 0.5em solid rgb(39, 14, 14);
    box-shadow: 0.1em 0.1em 0.5em  rgb(73, 3, 3);
}

.br-dark {
    border: 0.5em solid rgb(0, 0, 0);
    box-shadow: 0.1em 0.1em 0.5em  rgb(0, 0, 0);
}

.br-fairy {
    border: 0.5em solid rgba(178, 178, 178, 0.154);
    box-shadow: 0.1em 0.1em 0.5em  rgb(117, 116, 116);
}



/* ---Background */

.bg-normal {
    background: linear-gradient(0.25turn, #4e585c, #ebf8e1, #595551);
}

.bg-fighting {
    background: linear-gradient(0.25turn, #5d2a2a, #e49797, #702d2d);
}

.bg-flying {
    background: linear-gradient(0.25turn, #3f87a6, #c4f2f1, #688ec0);
}

.bg-poison {
    background: linear-gradient(0.25turn, #933fa6, #cd93f1, #642363);
}

.bg-ground {
    background: linear-gradient(0.25turn, #4a3838, #ebcb93, #3f3831);
}

.bg-rock {
    background: linear-gradient(0.25turn, #78766a, #d8bea3, #746a5f);
}

.bg-bug {
    background: linear-gradient(0.25turn, #0aeb42, #ebf8e1, #0de009);
}

.bg-ghost {
    background: linear-gradient(0.25turn, #b309ec, #ebf8e1, #aa00ff);
}

.bg-steel {
    background: linear-gradient(0.25turn, #6f6c37, #ebf8e1, #827f41);
}

.bg-fire {
    background: linear-gradient(0.25turn, #fd5304, #f7c491, #f25d00);
}


.bg-water {
    background: linear-gradient(0.25turn, #0026fd, #ebf8e1, #0000ff);
}

.bg-grass {
    background: linear-gradient(0.25turn, #255f06, #ebf8e1, #0f620b);
}

.bg-electric {
    background: linear-gradient(0.25turn, #f6ff00, #ebf8e1, #ffff00);
}

.bg-psychic {
    background: linear-gradient(0.25turn, #1f0248, #877195, #1d0235);
}


.bg-ice {
    background: linear-gradient(0.25turn, #85d8fb, #e0f8ff, #7cb5ee);
}

.bg-dragon {
    background: linear-gradient(0.25turn, #722c2d, #caaeae, #4e1e2a);
}

.bg-dark {
    background: linear-gradient(0.25turn, #1a1c1d, #747574, #131211);
}

.bg-fairy {
background: linear-gradient(0.25turn, #476f81, #e0f8ff, #3b556f);
}