@import url('https://fonts.googleapis.com/css2?family=Cagliostro&family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Gloria+Hallelujah&family=Hind+Siliguri:wght@300;400;500;600;700&family=Patua+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Riot&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: "Charis SIL", serif;
}

body {
    margin: 0;
    background: rgb(245, 245, 245);
}

h1, h2, h3, p, ul, hr, li {
    margin-top: 0;
    margin-bottom: 0;
}

ul, li {
    list-style: none;
    padding-left: 0;
}

img {
    display: block;
}

input, button, select {
    font-family: inherit;
}